@font-face { font-family: cl; src: url('RobotoMono-Regular.ttf')}
@font-face { font-family: lightfont; src: url('Roboto-Light.ttf')}
@font-face { font-family: regularfont; src: url('Roboto-Regular.ttf')}
@font-face { font-family: mediumfont; src: url('Roboto-Medium.ttf')}

header {
  font-family: lightfont, sans-serif;
  font-size: 1.0rem;
  border-bottom: 0.2rem solid #000;
  padding-top: 1.2rem;
  padding-bottom: 0.9rem;
}
header table {
  width: 100%;
}
header table tr td {
  width: 50%;
}
header table tr td .simpletop {
  text-decoration: none;
}
header table tr td .simpletop a {
 color: black;
 text-decoration: none;
}
header table tr td .simpletop a:hover {
 color: #999;
}
header table tr td .recently {
  text-align: left;
}
header table tr td .recently a img {
 width: 1.0rem; height: 1.0rem;
 margin-right: 0.5rem; margin-top: 0.15rem;
 float: left;
}
header table tr td .recently a:hover img {
 opacity: 0.5;
}
header table tr td .all {
  text-align: right;
}

.kwcontainer {
 font-family: regularfont, sans-serif;
 font-size: 0.9rem; 
 text-transform: uppercase;
 line-height: 1.8rem;
 margin-top: 1.3rem;
 margin-bottom: 1.4rem;
 margin-left: 0px;
}

.kwpost { color: #eee; }
.kwpost a {
 cursor:pointer;
 display: inline-block;
 text-decoration: none;
 margin: 5px 1px; padding-left:20px;padding-right:20px;padding-bottom:0.0rem;padding-top:0.05rem;
 border: 1px solid #000; 
 background: #fff; color: #000;
}

.kwpost a:hover {
 background: #000; color: #fff;
 border: 1px solid #000;
}

.kwpost a:active {
 background: #555; color: #fff;
 border: 1px solid #555;
}

body {
  max-width: 57rem;
  margin: auto;
}

body .everything {
  z-index: 1;
  position: absolute;
  width: calc(100% - 2rem);
  max-width: 55rem;
  margin: 0 1rem;
  font-family: regularfont, sans-serif;
  font-weight:normal; 
  line-height: 1.6rem; 
  font-size: 1.0rem;
  color: #000;
  background: #fff;
}

main h1 {
  font-family: mediumfont;
  font-weight:normal; 
  font-size: 1.6rem;
  line-height: 2.0rem;
  padding-top: 0.3rem; 
  color: #000;
}

main h1 .withkw {
 color: #ccc;
}

main h2 {
  font-family: mediumfont;
  font-weight:normal; 
  font-size: 1.6rem;
  line-height: 2.0rem;
  padding-top: 2rem;
  color: #999;
}

main .moretagposts li {
 display: none;
}

p {
  font-size: 1.0rem;
  padding-bottom: 0rem; 
  color: #000;
}

a {
  color: #e60000;
}

a:hover {
  color: #ff3333;
}

ol {
  margin-left: -1.6rem; 
  line-height: 2.4rem; 
  font-size: 1.0rem;
}

ul {
  list-style-type: none;
  margin-left: -2.4rem;
}

article section ul {
 list-style-type: square;
 margin-left: -1.6rem; 
 line-height: 2.4rem; 
 font-size: 1.3rem;
}

article section h4 {
 font-family: mediumfont, sans-serif;b
 font-weight: normal;
 font-size: 1.0rem;
}


article .header {
  font-style: italic;
  color: #555;
}

article img {
 width: 100%;
}

pre {
 width: calc(100% - 3rem); 
 overflow-x: auto;
 padding-left: 1.5rem;
 padding-right: 1.5rem;
 background: #f2f2f2;
 font-family: cl, monospace;
 font-weight:normal; 
 line-height: 1.3rem; 
 font-size: 1.0rem;
 color: #000;
}

code {
 background: #f2f2f2;
 padding-bottom: 0.1rem;
 padding-top: 0.1rem;
}

pre code span, p span {
 background: #222;
 color: #ddd;
}

.highlight {
 display: inline;
 background: #f2f2f2;
}

.postlist {
 margin-bottom: 1rem;
}

.postlist li .title {
 font-family: mediumfont, sans-serif;
 font-weight: normal;
 font-size: 1.0rem;
 text-decoration: none;
 color: #000; 
}

.postlist li .title:hover {
 color: red;
 text-decoration: underline;
}

.postlist hr, .footer hr {
 border: verythin solid black; 
 margin-bottom: 1.1rem;
 margin-top: 1.0rem;
}

.postlist li p {
 margin-top: 1.1rem;
 margin-bottom: -1rem;
}

.postlist li p a {
 color: #e60000; font-weight:normal;
}

.postlist li p a:hover {
  color: #ff3333;
}

.postlist li p img {
 width: 100%;
}

.postlist pre {
 margin-top: 2.0rem;
}

.postlist li .archivetitle {
 font-family: regularfont;
}

.postlist li .archivedate {
 color: #aaa;
 font-family: lightfont;
}

body .biglink {
 z-index: 100;
 position: fixed;
 width: 6rem;
 height: 6rem;
 background: rgba(255,255,255, 0.2);
 border-radius: 3rem;
 bottom: 2rem;
 left: calc(50% - 3rem);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
 cursor: pointer;
}

body .biglink:hover {
 background: rgba(255,255,255,1.0);
 box-shadow: 0.05rem 0.05rem #666;
}

body .biglink:active {
 -webkit-transition: none;
 transition: none;
 background: rgba(250,250,250,1.0);
 box-shadow: 0.05rem 0.05rem #000;
}

body .biglink img {
 margin: 0.2rem;
 width: 5.6rem;
 height: 5.6rem;
}

.datebox {
 width: 100%;
 text-align: right;
 padding-top: 0.4rem;
 font-family: lightfont, sans-serif;
}

.datebox small {
 font-size: 0.7rem;
 line-height: 0.7rem; 
 color: #999;
}

.postthumbnail {
 width: 100%;
}


footer {
  margin-top: 3rem;
  margin-bottom: 11rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  text-align: right;
}

footer small {
  font-size: 0.8rem;
  line-height: 1.4rem;
  display: block;
}

footer .copy {
  color: #aaa;
}

footer img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

footer img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

footer img:active {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.pntcursor {cursor:pointer;}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}



.buttonspace {
 z-index: 2;
 position: relative;
 width: 100%;
 margin-top: 4rem;
 margin-bottom: 8rem;
}

.bottombutton {
 font-family: regularfont;
 font-size: 0.9rem; 
 text-transform: uppercase;
 line-height: 1.8rem;
}

.newer a {
 z-index: 3;
 position: absolute;
 display: inline-block;
 top: 0;
 left: 0;
 cursor:pointer;
 text-decoration: none; 
 width: calc(50% - 41px);
 padding-left:20px;padding-right:20px;padding-bottom:0.0rem;padding-top:0.05rem;
 border: 1px solid #000; background: #fff; color: #000;
}

.older a {
 z-index: 3;
 position: absolute;
 display: inline-block;
 top: 0;
 right: 0; float: right;
 cursor:pointer; 
 text-decoration: none; text-align: right;
 width: calc(50% - 41px);
 padding-left:20px;padding-right:20px;padding-bottom:0.0rem;padding-top:0.05rem;
 border: 1px solid #000; background: #fff; color: #000;
}

.loadmore a {
 z-index: 3;
 position: absolute;
 top: 0;
 left: 0;
 cursor:pointer; 
 text-decoration: none; text-align: center;
 width: calc(100% - 42px);
 padding-left:20px;padding-right:20px;padding-bottom:0.0rem;padding-top:0.05rem;
 border: 1px solid #000; background: #fff; color: #000;
}

.newer a:hover, .older a:hover, .loadmore a:hover {
 background: #000; color: #fff;
 border: 1px solid #000;
}

.newer a:active, .older a:active, .loadmore a:active {
 background: #444; color: #fff;
 border: 1px solid #444;
}

.tiletable {
 width: 100%;
 font-family: cl;
 font-weight:normal; 
 line-height: 1.3rem; 
 font-size: 0.85rem;
}

.tiletable td{
 width: 50%;
 padding: 1.25rem;
}

.tiletable .gray {
 background: #f2f2f2;
}
