---
title:
---

<div class="kwcontainer kwpost noselect">
 $if(taglist)$
  $taglist$
 $endif$
</div>

$partial("templates/post-list.html")$

<div class="buttonspace">
    $if(previousPageNum)$
      <div class="bottombutton newer"><a href="$previousPageUrl$">◀ &nbsp; Newer</a></div>
    $endif$
    $if(nextPageNum)$
      <div class="bottombutton older"><a href="$nextPageUrl$">Older &nbsp; ▶</a></div>
    $endif$
</div>

