<ul class="postlist">
    $for(posts)$
        <li>
        <hr>
        	<a class="title" href="$url$">$title$</a>
        	<p>
        	$partial("templates/post-teaser.html")$
        	</p>
        	<div class="datebox"><small>$date$</small></div>
        </li>
    $endfor$
</ul>
