<h1>$title$</h1>
<article>
    <section>
        $body$
    </section>
    <div class="datebox">
    	<small>$date$</small>
    </div>
</article>

<div class="kwcontainer kwpost noselect">
    $if(tags)$$tags$$endif$
</div>
