<ul class="postlist">
    $for(posts)$
        <li>
            <a class="title archivetitle" href="$url$">$title$</a><span class="archivedate"> | $date$</span> 
        </li>
    $endfor$
    <br>
</ul>
