<h1><span class="withkw">with keyword : </span>$title$</h1>
<div class="moretagposts">
	$partial("templates/post-list.html")$
        <div class="buttonspace">
          <div class="bottombutton loadmore"><a href="#" id="loadMore">Load more</a></div>
        </div>
</div>